
.service{
    min-height: 100vh;
    background: #cfe8f1;

}

.service .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem ;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.service .box-container .box{
    background: #fff;
    margin: 2rem;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    box-shadow: 0 0 .3rem rgba(0,0,0,.3);
}

.service .box-container .box i{
    font-size: 4rem;
    padding: 1rem;
    color: var(--orange);
}

.service .box-container .box h3{
    font-size: 2rem;
    color: #444;
}

.service .box-container .box p{
    font-size: 1.3rem;
    color: #666;
    padding: 1rem;

}

.h3{
    text-align: center;
    font-size: 50px;
    padding: 50px;
    color: rgb(8, 71, 131);
    font-family: 'Playfair Display' ;
}